<%= form_with model: author do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% author.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :about_author %><br>
    <%= form.text_area :about_author%><br>
    <% author.errors.full_messages_for(:about_author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>